In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from os import listdir
from os.path import isfile, join

In [2]:
path="C:\\Users\\nilu1\\PatternCracking\\gyro\\"
pathex=[]
temp = [f for f in listdir(path) if isfile(join(path, f))]
temp.sort()
for i in range(len(temp)):
    st=temp[i]
    if(st[:2]=="27"):
        pathex.append(temp[i])
    if(st[:2]=="10"):
        pathex.append(temp[i])
#     if(st[:2]=="09"):
#         pathex.append(temp[i])
# print(pathex)

In [3]:
# n -> number of lines in csv file
# actual -> the actual key pressed
n=100
# n=40
actual=1
df=pd.read_csv(path+pathex[0])
df=df.head(n)
df1=df.stack().swaplevel()
df1.index=df1.index.map('{0[0]}_{0[1]}'.format)
df=df1.to_frame().T
ind=pathex[0].rfind("_")+3
df.insert(n*4, "key", str(pathex[0][ind]))
df

,Time_0,X_0,Y_0,Z_0,Time_1,X_1,Y_1,Z_1,Time_2,X_2,...,Z_97,Time_98,X_98,Y_98,Z_98,Time_99,X_99,Y_99,Z_99,key
0,264.0,0.022934,-0.029602,-0.047653,279.0,0.141174,-0.148926,-0.193588,289.0,0.003754,...,-0.04126,2105.0,-0.036728,0.680923,-0.064697,2125.0,-0.117691,0.730988,-0.109436,1

In [4]:
for i in range(1,len(pathex)):
    dff=pd.read_csv(path+pathex[i])
    dff=dff.head(n)
    df1=dff.stack().swaplevel()
    df1.index=df1.index.map('{0[0]}_{0[1]}'.format) 
    dff=df1.to_frame().T
    ind=pathex[i].rfind("_")+3
    dff.insert(n*4, "key", str(pathex[i][ind]))
    df=df.append(dff,ignore_index = True)
df

,Time_0,X_0,Y_0,Z_0,Time_1,X_1,Y_1,Z_1,Time_2,X_2,...,Z_97,Time_98,X_98,Y_98,Z_98,Time_99,X_99,Y_99,Z_99,key
0,264.0,0.022934,-0.029602,-0.047653,279.0,0.141174,-0.148926,-0.193588,289.0,0.003754,...,-0.041260,2105.0,-0.036728,0.680923,-0.064697,2125.0,-0.117691,0.730988,-0.109436,1
1,4.0,0.120926,0.014069,-0.045517,18.0,0.082581,0.014069,-0.013565,31.0,0.027191,...,0.014130,1712.0,-0.044189,-0.085007,0.016266,1731.0,-0.020752,-0.106308,0.014130,2
2,7.0,0.031448,0.150421,0.107880,21.0,0.011215,0.163208,0.084442,26.0,-0.012222,...,-0.075348,1668.0,-0.065491,0.259079,-0.064697,1679.0,-0.009033,0.023651,0.066330,3
3,21.0,0.212540,0.022583,-0.047653,41.0,0.065536,-0.000839,-0.012497,59.0,-0.018616,...,-0.120087,1760.0,-0.110229,-0.403519,-0.088135,1776.0,-0.124084,-0.413101,-0.051910,4
4,13.0,0.135849,-0.045593,-0.013565,19.0,0.137970,-0.060501,-0.007172,41.0,0.098557,...,0.039703,1779.0,0.026123,-0.060501,0.038635,1784.0,0.023987,-0.035995,0.037567,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,20.0,-0.163437,-0.813232,-0.108063,43.0,-0.291260,-1.150925,-0.126175,53.0,-0.162369,...,0.203003,1550.0,0.640839,0.097565,0.260513,1573.0,0.660019,0.180664,0.249863,9
176,10.0,-0.356247,-0.823883,0.123108,27.0,-0.624695,-1.205246,0.168915,47.0,-0.845200,...,-0.119781,1648.0,0.249893,-0.163422,-0.093140,1658.0,0.403290,-0.429733,0.059189,0
177,11.0,-0.230545,-0.730148,0.033615,24.0,-0.545868,-0.941071,0.073029,42.0,-0.781296,...,-0.219910,1607.0,0.148682,0.336182,-0.226303,1625.0,0.132706,0.340454,-0.230560,0
178,14.0,-0.476624,-0.547989,-0.116577,31.0,-0.729095,-0.974091,-0.191147,44.0,-0.835617,...,0.726044,1568.0,-0.644928,0.589722,0.779297,1577.0,-0.601257,0.651505,0.530029,0
179,25.0,-0.153854,-0.676880,-0.168777,30.0,-0.263565,-1.020966,-0.169846,40.0,-0.252914,...,0.066635,1649.0,0.059204,-0.043045,0.066635,1675.0,0.064529,-0.030258,0.054932,0

In [5]:
X = df.iloc[:, 0:n*4].values
y = df.iloc[:, n*4].values

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [7]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [8]:
regressor = RandomForestRegressor(n_estimators=20, random_state=1)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

   Actual  Predicted
0       7       4.75
1       8       4.10
2       6       4.50
3       6       6.00
4       7       3.70
5       2       5.05
6       7       4.30
7       3       3.75
8       6       4.65
9       9       3.80
10      4       5.35
11      4       4.10
12      5       4.15
13      6       4.50
14      9       3.60
15      3       3.35
16      7       4.00
17      1       4.75
18      8       3.75
19      2       3.70
20      2       3.40
21      1       6.00
22      4       4.15
23      5       4.20
24      3       4.30
25      7       4.05
26      4       4.30
27      7       3.65
28      8       6.65
29      2       3.55
30      4       5.20
31      7       3.70
32      8       4.15
33      2       4.20
34      7       3.75
35      9       3.15

In [9]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 2.334722222222222
Mean Squared Error: 7.996180555555554
Root Mean Squared Error: 2.8277518553712513