In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix,accuracy_score
from sklearn import metrics
from os import listdir
from os.path import isfile, join

In [2]:
path="C:\\Users\\nilu1\\PatternCracking\\acc\\"
pathex=[]
temp = [f for f in listdir(path) if isfile(join(path, f))]
temp.sort()
for i in range(len(temp)):
    st=temp[i]
#     if(st[:2]=="27"):
#         pathex.append(temp[i])
    if(st[:2]=="10"):
        pathex.append(temp[i])
# print(pathex)

In [3]:
# n -> number of lines in csv file
# actual -> the actual key pressed
n=50
actual=1
df=pd.read_csv(path+pathex[0])
mini=100
minind=25
ti=pathex[0].rfind("_")+4
for j in df.index:
    t=abs(df['Time'][j] - int(pathex[0][ti:-4]))
    if(t < mini):
        mini=t
        minind=j
# print(minind)
df=df.head(minind+25)
df=df.tail(n)
df.reset_index(inplace=True)
df=df.drop(columns="index")
df=df.drop(columns="Time")
df1=df.stack().swaplevel()
df1.index=df1.index.map('{0[0]}_{0[1]}'.format)
df=df1.to_frame().T
ind=pathex[0].rfind("_")+3
df.insert(n*3, "key", str(pathex[0][ind]))
df

,X_0,Y_0,Z_0,X_1,Y_1,Z_1,X_2,Y_2,Z_2,X_3,...,X_47,Y_47,Z_47,X_48,Y_48,Z_48,X_49,Y_49,Z_49,key
0,1.041183,3.940369,9.185242,-0.031418,3.662643,9.587463,-0.179855,3.66983,9.601837,-0.65152,...,0.923874,3.341827,9.585068,0.914291,3.3107,9.709579,0.794586,3.289154,9.810135,1

In [4]:
for i in range(1,len(pathex)):
    dff=pd.read_csv(path+pathex[i])
    mini=100
    minind=25
    ti=pathex[i].rfind("_")+4
    for j in dff.index:
        t=abs(dff['Time'][j] - int(pathex[i][ti:-4]))
        if(t < mini):
            mini=t
            minind=j
#     print(minind)
    dff=dff.head(minind+25)
    dff=dff.tail(n)
    dff.reset_index(inplace=True)
    dff=dff.drop(columns="index")
    dff=dff.drop(columns="Time")
    df1=dff.stack().swaplevel()
    df1.index=df1.index.map('{0[0]}_{0[1]}'.format) 
    dff=df1.to_frame().T
#     print(pathex[i])
    ind=pathex[i].rfind("_")+3
    dff.insert(n*3, "key", str(pathex[i][ind]))
    df=df.append(dff,ignore_index = True)
df

,X_0,Y_0,Z_0,X_1,Y_1,Z_1,X_2,Y_2,Z_2,X_3,...,X_47,Y_47,Z_47,X_48,Y_48,Z_48,X_49,Y_49,Z_49,key
0,1.041183,3.940369,9.185242,-0.031418,3.662643,9.587463,-0.179855,3.669830,9.601837,-0.651520,...,0.923874,3.341827,9.585068,0.914291,3.310700,9.709579,0.794586,3.289154,9.810135,1
1,0.442642,3.372955,9.427063,0.356445,3.454346,9.400726,0.370804,3.413650,9.484512,0.416306,...,0.143356,3.439987,9.357620,0.219971,3.416046,9.285797,0.291809,3.435196,9.419876,2
2,-0.708969,6.851730,6.688095,-0.357025,6.971435,7.377624,-0.486313,7.129456,7.174118,-0.519836,...,-0.955582,8.005722,6.635422,-0.974731,7.988968,6.431915,-1.245270,7.996155,6.556412,3
3,-0.582077,6.966644,7.832520,-0.771225,7.019318,8.591476,-0.845444,7.000168,8.581909,-0.438431,...,-0.567719,7.368866,6.532471,-0.701798,7.347321,6.683304,-0.783188,7.277893,6.683304,4
4,-0.651520,5.815033,6.980179,0.030838,7.368866,6.180511,0.375595,7.759125,6.570770,0.339691,...,0.119415,6.389648,7.736755,0.437851,6.432739,7.849274,0.464188,6.358521,7.784637,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,0.315750,1.112823,10.226715,0.107452,1.017059,9.865189,0.071533,1.021835,9.855621,0.174484,...,0.787399,2.515823,9.647324,0.921478,2.532577,9.434235,0.981339,2.604416,9.486908,6
136,0.502487,1.898117,10.013641,0.569534,1.888550,10.047150,0.404327,1.673065,10.530777,0.322922,...,1.457779,2.731308,9.860413,1.462570,2.697784,10.097427,1.369186,2.652298,9.925049,7
137,-0.170273,-0.304550,10.751053,-0.313934,-0.369186,10.923431,-0.476730,-0.378769,10.511627,-0.550964,...,0.406723,1.912491,9.254669,0.490524,2.156693,9.175659,0.571930,2.147110,9.379166,8
138,1.606216,2.812698,8.890762,2.147308,2.597229,9.869980,1.891128,2.348236,9.975327,1.946197,...,1.503265,3.085648,9.685623,1.508057,3.116776,9.470154,1.534393,3.588425,8.347275,9
139,0.593475,1.957977,9.786194,0.543198,1.957977,9.723938,0.571930,1.931641,9.695206,0.512070,...,0.449814,2.195007,9.836472,0.433060,2.175842,9.917862,0.715576,2.269226,9.755066,0

In [5]:
x = df.iloc[:, 0:n*3].values
y = df.iloc[:, n*3].values

In [8]:
# x = df.drop('Home', axis=1)
# y = df['Home']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=2)
logmodel = LogisticRegression()
logmodel.fit(x_train, y_train)
 
predictions = logmodel.predict(x_test)
df = pd.DataFrame({'Actual': y_test, 'Predicted': predictions})
df

C:\Users\nilu1\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\nilu1\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

   Actual Predicted
0       6         5
1       9         6
2       3         5
3       7         4
4       6         9
5       4         7
6       0         2
7       0         5
8       0         9
9       4         5
10      9         9
11      5         5
12      4         1
13      3         3